<form action="/post/search" method="get" class="col-12 m-3">
    <label class="sr-only" for="searchBook">Enter your book name</label>
    <input type="text" class="form-control col-9" id="searchBook" name="nameBook" placeholder=" Name of your book">
    <button type="submit" id="searchB" class="btn btn-primary">Search</button>
  </form>