body {
    background: #222222;
    font-family: "Itim", cursive;
    font-size: 1.2em;
    color: white;
    padding-top: 50px;
  }
  a {
    color: #fff59e;
  }
  h3 {
    float: right;
  }
  .logo {
    height: 200px;
    width: 40%;
  }
  span {
    font-style: italic;
  }
  .small {
    height: 40px;
    width: 15%;
  }
  
  .card {
    width: 100%;
    height: 20vw;
  }
  
  .container-image {
    background: url("../imgs/bookshelf.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60vh;
  }

  /* Create Post Form */
  .accordion *{
    background: #222222;
    font-family: "Itim", cursive;
    color: white;
  }
  
  .accordion .card-header, .card-header *{
    background: #fff59e;
    color: #222222;
    font-size: 1.2em;
  }
  .accordion input, .accordion textarea {
    background: white;
    color: #222222;
  }

  .accordion .card {
    height: auto;
  }
   /* this is my code  */
  .flex-container {
    display: grid;
  }
  
  
  
  * {
    box-sizing: border-box;
  }
  .btn-secondary{
    height: 34px;
    
    position: relative; top: 35px;
    
    width: 95.33%;
  
  
    
    background-color: red;
  }
  .btn-profile{
    background-color: red;
  }
#searchBook{   
    width: 25%;
}
#searchB{
    margin-left: 19.5%;
    
}
@media screen and (max-width: 480px) {
    .logo {
      width: 100%;
    }
   #searchBook{
       width: 60%;
   } 
   #searchB{
       margin-left: auto;
   }
  }